@charset="UTF-8"

body{
   color:cyan
}
body{
   color: #cyan;
   background-color:#f880ff;
   
}
h3{
    color:#131313;
    font-size:30px;
    font-family:Arial;
    text-align: center;
}
p{
  font-family:monospace;
  text-align: center;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 15px;
}
